<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Tang 03</title>
    <link href="~/assets/img/logo/logo_t.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link href="~/assets/lib/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/assets/lib/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lib/jquery-3.7.1.min.js"></script>
    <script src="~/assets/lib/sweetalert2@11.js"></script>

    <script src="~/root/helper/apihelper.js"></script>
    <script src="~/root/helper/commonfunction.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
