<div class="login-container">

	<!-- Logo -->
	<div class="text-center">
		<img src="~/assets/img/logo/logo_t.png" alt="Logo" class="mb-2">
		<h3 class="text-center mb-4">Login</h3>
	</div>

	<form>
		<div class="mb-3">
			<label for="email" class="form-label">Email address</label>
			<input type="email" class="form-control" id="email" placeholder="Enter your email" autocomplete="email">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<div class="input-group">
				<input type="password" class="form-control" id="password" placeholder="Enter your password" autocomplete="current-password">
				<button class="btn btn-outline-secondary" type="button" id="togglePassword">
					<i class="bi bi-eye"></i>
				</button>
			</div>
		</div>
		<div class="d-grid">
			<label id="errorMessage" class="text-danger d-none">Sai tài khoản hoặc mật khẩu</label>
			<button type="button" id="loginBtn" onclick="login()" class="btn btn-primary">
				Login
			</button>
		</div>

		<div class="text-center mt-3">
			<a href="#">Forgot password?</a>
		</div>
		<hr />

		<!-- Nút đăng nhập với Google -->
		<div class="text-center mt-3">
			<button class="btn btn-outline-danger d-flex align-items-center justify-content-center gap-2 w-100" id="googleLogin">
				<i class="bi bi-google"></i> Login with Google
			</button>
		</div>

		<!-- Nút đăng nhập với Facebook -->
		<div class="text-center mt-2">
			<button class="btn btn-outline-primary d-flex align-items-center justify-content-center gap-2 w-100" id="facebookLogin">
				<i class="bi bi-facebook"></i> Login with Facebook
			</button>
		</div>
	</form>
</div>
@section Scripts {
	<script src="~/assets/js/authen/login.js"></script>
}
