@{
	Layout = "~/Views/Shared/_Layout_Portal.cshtml";
	ViewData["Title"] = "E - Video";
}

<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex flex-stack flex-wrap ">
				<!--begin::Toolbar wrapper-->
				<div class="d-flex flex-stack flex-wrap gap-4 w-100">

					<!--begin::Page title-->
					<div class="page-title d-flex flex-column gap-3 me-3">
						<!--begin::Title-->
						<h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bolder fs-2x my-0">
							Salary
						</h1>
						<!--end::Title-->
					</div>
					<!--end::Page title-->
				</div>
				<!--end::Toolbar wrapper-->
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content  pb-0 ">
			<div class="row gx-5 gx-xl-10 mb-xl-10">
				<!--begin::Col-->
				<div class="col-md-8 col-lg-8 col-xl-8 col-xxl-9 mb-5 mb-xl-0">
					<!--begin::Chart widget 3-->
					<div class="card card-flush overflow-hidden h-md-100">
						<!--begin::Header-->
						<div class="card-header py-5">
							<!--begin::Title-->
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label fw-bold text-gray-900">Biểu đồ thống kê</span>
								<span class="text-gray-500 mt-1 fw-semibold fs-6">Tổng tiền lương từng tháng</span>
							</h3>
							<!--end::Title-->
						</div>
						<!--end::Header-->
						<!--begin::Card body-->
						<div class="card-body d-flex justify-content-between flex-column pb-1 px-0">
							<!--begin::Statistics-->
							<div class="px-9 mb-5">
								<!--begin::Statistics-->
								<div class="d-flex mb-2">
									<span class="fs-2hx fw-bold text-gray-800 me-2 lh-1 ls-n2">
										13,609,000
									</span>
									<span class="fs-4 fw-semibold text-gray-500 me-1">vnđ</span>
								</div>
								<!--end::Statistics-->
								<!--begin::Description-->
								<span class="fs-6 fw-semibold text-gray-500">Lương tháng 3 năm 2025</span>
								<!--end::Description-->
							</div>
							<!--end::Statistics-->
							<!--begin::Chart-->
							<div id="kt_charts_widget_3" class="min-h-auto ps-4 pe-6" style="height: 300px; min-height: 315px;">
								<div id="apexcharts5zwd864q" class="apexcharts-canvas apexcharts5zwd864q apexcharts-theme-" style="width: 100%; height: 300px;">
									<svg id="SvgjsSvg2221" width="800" height="300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)">
										<foreignObject x="0" y="0" width="800" height="300"><div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml" style="max-height: 150px;"></div></foreignObject>
										<g id="SvgjsG2229" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
										<g id="SvgjsG2230" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
										<rect id="SvgjsRect2252" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
										<g id="SvgjsG2315" class="apexcharts-yaxis" rel="0" transform="translate(37.76250076293945, 0)"><g id="SvgjsG2316" class="apexcharts-yaxis-texts-g"><text id="SvgjsText2318" font-family="inherit" x="20" y="34" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan2319">$24K</tspan><title>$24K</title></text><text id="SvgjsText2321" font-family="inherit" x="20" y="89.4010667181015" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan2322">$20.5K</tspan><title>$20.5K</title></text><text id="SvgjsText2324" font-family="inherit" x="20" y="144.802133436203" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan2325">$17K</tspan><title>$17K</title></text><text id="SvgjsText2327" font-family="inherit" x="20" y="200.2032001543045" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan2328">$13.5K</tspan><title>$13.5K</title></text><text id="SvgjsText2330" font-family="inherit" x="20" y="255.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-yaxis-label " style="font-family: inherit;"><tspan id="SvgjsTspan2331">$10K</tspan><title>$10K</title></text></g></g>
										<g id="SvgjsG2223" class="apexcharts-inner apexcharts-graphical" transform="translate(67.76250076293945, 30)">
											<defs id="SvgjsDefs2222"><clipPath id="gridRectMask5zwd864q"><rect id="SvgjsRect2227" width="508.73749923706055" height="228.60426687240601" x="-3.5" y="-3.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask5zwd864q"></clipPath><clipPath id="nonForecastMask5zwd864q"></clipPath><clipPath id="gridRectMarkerMask5zwd864q"><rect id="SvgjsRect2228" width="505.73749923706055" height="225.60426687240601" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient2235" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop2236" stop-opacity="0.4" stop-color="rgba(23,198,83,0.4)" offset="0"></stop><stop id="SvgjsStop2237" stop-opacity="0" stop-color="rgba(255,255,255,0)" offset="0.8"></stop><stop id="SvgjsStop2238" stop-opacity="0" stop-color="rgba(255,255,255,0)" offset="1"></stop></linearGradient></defs><g id="SvgjsG2241" class="apexcharts-grid"><g id="SvgjsG2242" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine2246" x1="0" y1="55.401066718101504" x2="501.73749923706055" y2="55.401066718101504" stroke="#dbdfe9" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2247" x1="0" y1="110.80213343620301" x2="501.73749923706055" y2="110.80213343620301" stroke="#dbdfe9" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2248" x1="0" y1="166.2032001543045" x2="501.73749923706055" y2="166.2032001543045" stroke="#dbdfe9" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG2243" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine2251" x1="0" y1="221.60426687240601" x2="501.73749923706055" y2="221.60426687240601" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine2250" x1="0" y1="1" x2="0" y2="221.60426687240601" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG2244" class="apexcharts-grid-borders"><line id="SvgjsLine2245" x1="0" y1="0" x2="501.73749923706055" y2="0" stroke="#dbdfe9" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2249" x1="0" y1="221.60426687240601" x2="501.73749923706055" y2="221.60426687240601" stroke="#dbdfe9" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG2231" class="apexcharts-area-series apexcharts-plot-series">
												<g id="SvgjsG2232" class="apexcharts-series" zIndex="0" seriesName="Sales" data:longestSeries="true" rel="1" data:realIndex="0">
													<path id="SvgjsPath2239" d="M 0 94.97325723103114C 9.75600692960951 94.97325723103114 18.118298583560524 94.97325723103114 27.874305513170032 94.97325723103114C 37.63031244277954 94.97325723103114 45.99260409673055 63.31550482068741 55.748611026340065 63.31550482068741C 65.50461795594957 63.31550482068741 73.86690960990057 63.31550482068741 83.62291653951009 63.31550482068741C 93.3789234691196 63.31550482068741 101.74121512307062 94.97325723103114 111.49722205268013 94.97325723103114C 121.25322898228964 94.97325723103114 129.61552063624066 94.97325723103114 139.37152756585016 94.97325723103114C 149.12753449545966 94.97325723103114 157.48982614941067 31.657752410343676 167.24583307902017 31.657752410343676C 177.0018400086297 31.657752410343676 185.3641316625807 31.657752410343676 195.12013859219022 31.657752410343676C 204.87614552179974 31.657752410343676 213.23843717575073 63.31550482068741 222.99444410536026 63.31550482068741C 232.75045103496976 63.31550482068741 241.11274268892078 63.31550482068741 250.86874961853027 63.31550482068741C 260.62475654813977 63.31550482068741 268.9870482020908 94.97325723103114 278.7430551317003 94.97325723103114C 288.4990620613098 94.97325723103114 296.86135371526086 94.97325723103114 306.61736064487036 94.97325723103114C 316.37336757447986 94.97325723103114 324.73565922843085 63.31550482068741 334.49166615804035 63.31550482068741C 344.24767308764984 63.31550482068741 352.6099647416009 63.31550482068741 362.3659716712104 63.31550482068741C 372.1219786008199 63.31550482068741 380.48427025477093 94.97325723103114 390.24027718438043 94.97325723103114C 399.99628411398993 94.97325723103114 408.358575767941 94.97325723103114 418.1145826975505 94.97325723103114C 427.87058962716 94.97325723103114 436.232881281111 63.31550482068741 445.9888882107205 63.31550482068741C 455.74489514033 63.31550482068741 464.107186794281 63.31550482068741 473.8631937238905 63.31550482068741C 483.6192006535 63.31550482068741 491.98149230745105 31.657752410343676 501.73749923706055 31.657752410343676C 501.73749923706055 31.657752410343676 501.73749923706055 31.657752410343676 501.73749923706055 221.60426687240601 L 0 221.60426687240601z" fill="url(#SvgjsLinearGradient2235)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask5zwd864q)" pathTo="M 0 94.97325723103114C 9.75600692960951 94.97325723103114 18.118298583560524 94.97325723103114 27.874305513170032 94.97325723103114C 37.63031244277954 94.97325723103114 45.99260409673055 63.31550482068741 55.748611026340065 63.31550482068741C 65.50461795594957 63.31550482068741 73.86690960990057 63.31550482068741 83.62291653951009 63.31550482068741C 93.3789234691196 63.31550482068741 101.74121512307062 94.97325723103114 111.49722205268013 94.97325723103114C 121.25322898228964 94.97325723103114 129.61552063624066 94.97325723103114 139.37152756585016 94.97325723103114C 149.12753449545966 94.97325723103114 157.48982614941067 31.657752410343676 167.24583307902017 31.657752410343676C 177.0018400086297 31.657752410343676 185.3641316625807 31.657752410343676 195.12013859219022 31.657752410343676C 204.87614552179974 31.657752410343676 213.23843717575073 63.31550482068741 222.99444410536026 63.31550482068741C 232.75045103496976 63.31550482068741 241.11274268892078 63.31550482068741 250.86874961853027 63.31550482068741C 260.62475654813977 63.31550482068741 268.9870482020908 94.97325723103114 278.7430551317003 94.97325723103114C 288.4990620613098 94.97325723103114 296.86135371526086 94.97325723103114 306.61736064487036 94.97325723103114C 316.37336757447986 94.97325723103114 324.73565922843085 63.31550482068741 334.49166615804035 63.31550482068741C 344.24767308764984 63.31550482068741 352.6099647416009 63.31550482068741 362.3659716712104 63.31550482068741C 372.1219786008199 63.31550482068741 380.48427025477093 94.97325723103114 390.24027718438043 94.97325723103114C 399.99628411398993 94.97325723103114 408.358575767941 94.97325723103114 418.1145826975505 94.97325723103114C 427.87058962716 94.97325723103114 436.232881281111 63.31550482068741 445.9888882107205 63.31550482068741C 455.74489514033 63.31550482068741 464.107186794281 63.31550482068741 473.8631937238905 63.31550482068741C 483.6192006535 63.31550482068741 491.98149230745105 31.657752410343676 501.73749923706055 31.657752410343676C 501.73749923706055 31.657752410343676 501.73749923706055 31.657752410343676 501.73749923706055 221.60426687240601 L 0 221.60426687240601z" pathFrom="M 0 379.89302892412456 L 0 379.89302892412456 L 27.874305513170032 379.89302892412456 L 55.748611026340065 379.89302892412456 L 83.62291653951009 379.89302892412456 L 111.49722205268013 379.89302892412456 L 139.37152756585016 379.89302892412456 L 167.24583307902017 379.89302892412456 L 195.12013859219022 379.89302892412456 L 222.99444410536026 379.89302892412456 L 250.86874961853027 379.89302892412456 L 278.7430551317003 379.89302892412456 L 306.61736064487036 379.89302892412456 L 334.49166615804035 379.89302892412456 L 362.3659716712104 379.89302892412456 L 390.24027718438043 379.89302892412456 L 418.1145826975505 379.89302892412456 L 445.9888882107205 379.89302892412456 L 473.8631937238905 379.89302892412456 L 501.73749923706055 379.89302892412456z"></path><path id="SvgjsPath2240" d="M 0 94.97325723103114C 9.75600692960951 94.97325723103114 18.118298583560524 94.97325723103114 27.874305513170032 94.97325723103114C 37.63031244277954 94.97325723103114 45.99260409673055 63.31550482068741 55.748611026340065 63.31550482068741C 65.50461795594957 63.31550482068741 73.86690960990057 63.31550482068741 83.62291653951009 63.31550482068741C 93.3789234691196 63.31550482068741 101.74121512307062 94.97325723103114 111.49722205268013 94.97325723103114C 121.25322898228964 94.97325723103114 129.61552063624066 94.97325723103114 139.37152756585016 94.97325723103114C 149.12753449545966 94.97325723103114 157.48982614941067 31.657752410343676 167.24583307902017 31.657752410343676C 177.0018400086297 31.657752410343676 185.3641316625807 31.657752410343676 195.12013859219022 31.657752410343676C 204.87614552179974 31.657752410343676 213.23843717575073 63.31550482068741 222.99444410536026 63.31550482068741C 232.75045103496976 63.31550482068741 241.11274268892078 63.31550482068741 250.86874961853027 63.31550482068741C 260.62475654813977 63.31550482068741 268.9870482020908 94.97325723103114 278.7430551317003 94.97325723103114C 288.4990620613098 94.97325723103114 296.86135371526086 94.97325723103114 306.61736064487036 94.97325723103114C 316.37336757447986 94.97325723103114 324.73565922843085 63.31550482068741 334.49166615804035 63.31550482068741C 344.24767308764984 63.31550482068741 352.6099647416009 63.31550482068741 362.3659716712104 63.31550482068741C 372.1219786008199 63.31550482068741 380.48427025477093 94.97325723103114 390.24027718438043 94.97325723103114C 399.99628411398993 94.97325723103114 408.358575767941 94.97325723103114 418.1145826975505 94.97325723103114C 427.87058962716 94.97325723103114 436.232881281111 63.31550482068741 445.9888882107205 63.31550482068741C 455.74489514033 63.31550482068741 464.107186794281 63.31550482068741 473.8631937238905 63.31550482068741C 483.6192006535 63.31550482068741 491.98149230745105 31.657752410343676 501.73749923706055 31.657752410343676" fill="none" fill-opacity="1" stroke="#17c653" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask5zwd864q)" pathTo="M 0 94.97325723103114C 9.75600692960951 94.97325723103114 18.118298583560524 94.97325723103114 27.874305513170032 94.97325723103114C 37.63031244277954 94.97325723103114 45.99260409673055 63.31550482068741 55.748611026340065 63.31550482068741C 65.50461795594957 63.31550482068741 73.86690960990057 63.31550482068741 83.62291653951009 63.31550482068741C 93.3789234691196 63.31550482068741 101.74121512307062 94.97325723103114 111.49722205268013 94.97325723103114C 121.25322898228964 94.97325723103114 129.61552063624066 94.97325723103114 139.37152756585016 94.97325723103114C 149.12753449545966 94.97325723103114 157.48982614941067 31.657752410343676 167.24583307902017 31.657752410343676C 177.0018400086297 31.657752410343676 185.3641316625807 31.657752410343676 195.12013859219022 31.657752410343676C 204.87614552179974 31.657752410343676 213.23843717575073 63.31550482068741 222.99444410536026 63.31550482068741C 232.75045103496976 63.31550482068741 241.11274268892078 63.31550482068741 250.86874961853027 63.31550482068741C 260.62475654813977 63.31550482068741 268.9870482020908 94.97325723103114 278.7430551317003 94.97325723103114C 288.4990620613098 94.97325723103114 296.86135371526086 94.97325723103114 306.61736064487036 94.97325723103114C 316.37336757447986 94.97325723103114 324.73565922843085 63.31550482068741 334.49166615804035 63.31550482068741C 344.24767308764984 63.31550482068741 352.6099647416009 63.31550482068741 362.3659716712104 63.31550482068741C 372.1219786008199 63.31550482068741 380.48427025477093 94.97325723103114 390.24027718438043 94.97325723103114C 399.99628411398993 94.97325723103114 408.358575767941 94.97325723103114 418.1145826975505 94.97325723103114C 427.87058962716 94.97325723103114 436.232881281111 63.31550482068741 445.9888882107205 63.31550482068741C 455.74489514033 63.31550482068741 464.107186794281 63.31550482068741 473.8631937238905 63.31550482068741C 483.6192006535 63.31550482068741 491.98149230745105 31.657752410343676 501.73749923706055 31.657752410343676" pathFrom="M 0 379.89302892412456 L 0 379.89302892412456 L 27.874305513170032 379.89302892412456 L 55.748611026340065 379.89302892412456 L 83.62291653951009 379.89302892412456 L 111.49722205268013 379.89302892412456 L 139.37152756585016 379.89302892412456 L 167.24583307902017 379.89302892412456 L 195.12013859219022 379.89302892412456 L 222.99444410536026 379.89302892412456 L 250.86874961853027 379.89302892412456 L 278.7430551317003 379.89302892412456 L 306.61736064487036 379.89302892412456 L 334.49166615804035 379.89302892412456 L 362.3659716712104 379.89302892412456 L 390.24027718438043 379.89302892412456 L 418.1145826975505 379.89302892412456 L 445.9888882107205 379.89302892412456 L 473.8631937238905 379.89302892412456 L 501.73749923706055 379.89302892412456" fill-rule="evenodd"></path><g id="SvgjsG2233" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="0">
														<g class="apexcharts-series-markers">
															<path id="SvgjsPath2335" d="M 0, 0
           m -0, 0
           a 0,0 0 1,0 0,0
           a 0,0 0 1,0 -0,0" fill="#17c653" fill-opacity="1" stroke="#17c653" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-marker w5v75fr24j no-pointer-events" default-marker-size="0"></path>
														</g>
													</g>
												</g><g id="SvgjsG2234" class="apexcharts-datalabels" data:realIndex="0"></g>
											</g><line id="SvgjsLine2253" x1="0" y1="0" x2="0" y2="221.60426687240601" stroke="#17c653" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="221.60426687240601" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><line id="SvgjsLine2254" x1="0" y1="0" x2="501.73749923706055" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2255" x1="0" y1="0" x2="501.73749923706055" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2256" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2257" class="apexcharts-xaxis-texts-g" transform="translate(0, -10)"><text id="SvgjsText2259" font-family="inherit" x="0" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2260"></tspan><title></title></text><text id="SvgjsText2262" font-family="inherit" x="27.87430551317003" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2263"></tspan><title></title></text><text id="SvgjsText2265" font-family="inherit" x="55.748611026340065" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2266"></tspan><title></title></text><text id="SvgjsText2268" font-family="inherit" x="83.6229165395101" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 84.74283599853516 238.2042784690857)"><tspan id="SvgjsTspan2269">Apr 04</tspan><title>Apr 04</title></text><text id="SvgjsText2271" font-family="inherit" x="111.49722205268012" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2272"></tspan><title></title></text><text id="SvgjsText2274" font-family="inherit" x="139.37152756585016" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2275"></tspan><title></title></text><text id="SvgjsText2277" font-family="inherit" x="167.2458330790202" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 168.4485569000244 238.2042784690857)"><tspan id="SvgjsTspan2278">Apr 07</tspan><title>Apr 07</title></text><text id="SvgjsText2280" font-family="inherit" x="195.12013859219024" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2281"></tspan><title></title></text><text id="SvgjsText2283" font-family="inherit" x="222.9944441053603" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2284"></tspan><title></title></text><text id="SvgjsText2286" font-family="inherit" x="250.86874961853033" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 251.8687572479248 238.2042784690857)"><tspan id="SvgjsTspan2287">Apr 10</tspan><title>Apr 10</title></text><text id="SvgjsText2289" font-family="inherit" x="278.7430551317004" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2290"></tspan><title></title></text><text id="SvgjsText2292" font-family="inherit" x="306.6173606448704" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2293"></tspan><title></title></text><text id="SvgjsText2295" font-family="inherit" x="334.49166615804046" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 335.4916687011719 238.2042784690857)"><tspan id="SvgjsTspan2296">Apr 13</tspan><title>Apr 13</title></text><text id="SvgjsText2298" font-family="inherit" x="362.3659716712105" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2299"></tspan><title></title></text><text id="SvgjsText2301" font-family="inherit" x="390.24027718438055" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2302"></tspan><title></title></text><text id="SvgjsText2304" font-family="inherit" x="418.1145826975506" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 419.1146068572998 238.2042784690857)"><tspan id="SvgjsTspan2305">Apr 16</tspan><title>Apr 16</title></text><text id="SvgjsText2307" font-family="inherit" x="445.98888821072063" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2308"></tspan><title></title></text><text id="SvgjsText2310" font-family="inherit" x="473.8631937238907" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2311"></tspan><title></title></text><text id="SvgjsText2313" font-family="inherit" x="501.7374992370607" y="243.60426687240601" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#99a1b7" class="apexcharts-text apexcharts-xaxis-label " style="font-family: inherit;" transform="rotate(0 1 -1)"><tspan id="SvgjsTspan2314"></tspan><title></title></text></g></g><g id="SvgjsG2332" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2333" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2334" class="apexcharts-point-annotations"></g><rect id="SvgjsRect2336" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect2337" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect>
										</g>
									</svg>
									<div class="apexcharts-tooltip apexcharts-theme-light">
										<div class="apexcharts-tooltip-title" style="font-family: inherit; font-size: 12px;"></div>
										<div class="apexcharts-tooltip-series-group" style="order: 1;">
											<span class="apexcharts-tooltip-marker" style="background-color: rgb(23, 198, 83);"></span>
											<div class="apexcharts-tooltip-text" style="font-family: inherit; font-size: 12px;">
												<div class="apexcharts-tooltip-y-group">
													<span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span>
												</div>
												<div class="apexcharts-tooltip-goals-group">
													<span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span>
												</div>
												<div class="apexcharts-tooltip-z-group">
													<span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light">
										<div class="apexcharts-xaxistooltip-text" style="font-family: inherit; font-size: 12px;"></div>
									</div>
									<div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
										<div class="apexcharts-yaxistooltip-text"></div>
									</div>
								</div>
							</div>
							<!--end::Chart-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Chart widget 3-->
				</div>
				<!--end::Col-->
				<!--begin::Col-->
				<div class="col-md-4 col-lg-4 col-xl-4 col-xxl-3 mb-10">
					<!--begin::Card widget 4-->
					<div class="card card-flush h-md-50 mb-5 mb-xl-10">
						<!--begin::Header-->
						<div class="card-header pt-5">
							<!--begin::Title-->
							<div class="card-title d-flex flex-column">
								<!--begin::Info-->
								<div class="d-flex align-items-center">

									<!--begin::Amount-->
									<span class="fs-2hx fw-bold text-success me-2 lh-1 ls-n2">13,609,000</span>
									<!--end::Amount--><!--begin::Currency-->
									<span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">vnđ</span>
									<!--end::Currency-->
								</div>
								<!--end::Info-->
								<!--begin::Subtitle-->
								<span class="text-gray-500 pt-1 fw-semibold fs-6">Tiền lương tháng 3</span>
								<!--end::Subtitle-->
							</div>
							<!--end::Title-->
						</div>
						<!--end::Header-->
						<!--begin::Card body-->
						<div class="card-body pt-2 pb-4 d-flex align-items-center">
							<!--begin::Labels-->
							<div class="d-flex flex-column content-justify-center w-100">
								<!--begin::Label-->
								<div class="d-flex fs-6 fw-semibold align-items-center">
									<!--begin::Bullet-->
									<div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-500 flex-grow-1 me-4">Khoản cộng</div>
									<!--end::Label-->
									<!--begin::Stats-->
									<div class="fw-bolder text-gray-700 text-xxl-end">623,000 vnđ</div>
									<!--end::Stats-->
								</div>
								<!--end::Label-->
								<!--begin::Label-->
								<div class="d-flex fs-6 fw-semibold align-items-center my-3">
									<!--begin::Bullet-->
									<div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-500 flex-grow-1 me-4">Khoản trừ</div>
									<!--end::Label-->
									<!--begin::Stats-->
									<div class="fw-bolder text-gray-700 text-xxl-end">808,820 vnđ</div>
									<!--end::Stats-->
								</div>
								<!--end::Label-->
								<!--begin::Label-->
								<div class="d-flex fs-6 fw-semibold align-items-center">
									<!--begin::Bullet-->
									<div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #E4E6EF"></div>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-500 flex-grow-1 me-4">Thực lĩnh</div>
									<!--end::Label-->
									<!--begin::Stats-->
									<div class=" fw-bolder text-gray-700 text-xxl-end">12,866,000 vnđ</div>
									<!--end::Stats-->
								</div>
								<!--end::Label-->
							</div>
							<!--end::Labels-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Card widget 4-->
					<!--begin::Card widget 5-->
					<div class="card card-flush h-md-50 mb-xl-10">
						<!--begin::Header-->
						<div class="card-header pt-5">
							<!--begin::Title-->
							<div class="card-title d-flex flex-column">
								<!--begin::Info-->
								<div class="d-flex align-items-center">
									<!--begin::Amount-->
									<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">22</span>
									<!--end::Amount-->
									<!--begin::Badge-->
									<span class="badge badge-light fs-base">
										Ngày công
									</span>
									<!--end::Badge-->
								</div>
								<!--end::Info-->

							</div>
							<!--end::Title-->
						</div>
						<!--end::Header-->
						<!--begin::Card body-->
						<div class="card-body d-flex align-items-end pt-0">
							<!--begin::Labels-->
							<div class="d-flex flex-column content-justify-center w-100">
								<!--begin::Label-->
								<div class="d-flex fs-6 fw-semibold align-items-center">
									<!--begin::Bullet-->
									<div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-500 flex-grow-1 me-4">Nghỉ</div>
									<!--end::Label-->
									<!--begin::Stats-->
									<div class="fw-bolder text-gray-700 text-xxl-end">1 ngày</div>
									<!--end::Stats-->
								</div>
								<!--end::Label-->
								<!--begin::Label-->
								<div class="d-flex fs-6 fw-semibold align-items-center my-3">
									<!--begin::Bullet-->
									<div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-500 flex-grow-1 me-4">Tăng ca</div>
									<!--end::Label-->
									<!--begin::Stats-->
									<div class="fw-bolder text-gray-700 text-xxl-end">8.2 tiếng</div>
									<!--end::Stats-->
								</div>
								<!--end::Label-->
								<!--begin::Label-->
								<div class="d-flex fs-6 fw-semibold align-items-center">
									<!--begin::Bullet-->
									<div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #E4E6EF"></div>
									<!--end::Bullet-->
									<!--begin::Label-->
									<div class="text-gray-500 flex-grow-1 me-4">Đi muộn</div>
									<!--end::Label-->
									<!--begin::Stats-->
									<div class=" fw-bolder text-gray-700 text-xxl-end">0</div>
									<!--end::Stats-->
								</div>
								<!--end::Label-->
							</div>
							<!--end::Labels-->
						</div>
						<div class="card-body d-flex align-items-end pt-0">
							<!--begin::Progress-->
							<div class="d-flex align-items-center flex-column mt-3 w-100">
								<div class="d-flex justify-content-between w-100 mt-auto mb-2">
									<span class="fw-bolder fs-6 text-gray-900">22/ 23 công</span>
									<span class="fw-bold fs-6 text-gray-500">92%</span>
								</div>

								<div class="h-8px mx-3 w-100 bg-light-success rounded">
									<div class="bg-success rounded h-8px" role="progressbar" style="width: 92%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
							<!--end::Progress-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Card widget 5-->
				</div>
				<!--end::Col-->
			</div>
			<div class="row gx-5 gx-xl-10 mb-xl-10">
				<div class="col-xl-12">
					<div class="card card-flush h-xl-100 shadow-sm border">
						<!-- Header -->
						<div class="card-header pt-7 mb-3">
							<h3 class="card-title flex-column">
								<span class="card-label fw-bold text-gray-800 fs-2">Bảng lương chi tiết - Tháng 3</span>
								<span class="text-muted fs-7">Họ tên: Nguyễn Văn A | Mã NV: NV001 | Vị trí: Nhân viên Kinh doanh</span>
							</h3>
						</div>

						<!-- Body -->
						<div class="card-body pt-0">
							<!-- Thu nhập cố định -->
							<div class="mb-6">
								<h5 class="text-gray-700 fw-semibold mb-3">1. Thu nhập cố định</h5>
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td>Lương cơ bản</td>
											<td class="text-end">15,000,000 VND</td>
										</tr>
										<tr>
											<td>Phụ cấp ăn trưa</td>
											<td class="text-end">800,000 VND</td>
										</tr>
										<tr>
											<td>Phụ cấp điện thoại</td>
											<td class="text-end">500,000 VND</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- Các khoản cộng thêm -->
							<div class="mb-6">
								<h5 class="text-gray-700 fw-semibold mb-3">2. Các khoản cộng thêm</h5>
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td>Tăng ca (10h)</td>
											<td class="text-end">1,200,000 VND</td>
										</tr>
										<tr>
											<td>Thưởng chuyên cần</td>
											<td class="text-end">500,000 VND</td>
										</tr>
										<tr>
											<td>Hỗ trợ đi lại</td>
											<td class="text-end">300,000 VND</td>
										</tr>
										<tr>
											<td>Phụ cấp trách nhiệm</td>
											<td class="text-end">400,000 VND</td>
										</tr>
										<tr>
											<td><strong>Tổng cộng thêm</strong></td>
											<td class="text-end fw-bold text-primary">2,400,000 VND</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- Khấu trừ -->
							<div class="mb-6">
								<h5 class="text-gray-700 fw-semibold mb-3">3. Các khoản khấu trừ</h5>
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td>Bảo hiểm xã hội (8%)</td>
											<td class="text-end">1,200,000 VND</td>
										</tr>
										<tr>
											<td>Thuế TNCN (tạm tính)</td>
											<td class="text-end">750,000 VND</td>
										</tr>
										<tr>
											<td>Tạm ứng</td>
											<td class="text-end">500,000 VND</td>
										</tr>
										<tr>
											<td><strong>Tổng khấu trừ</strong></td>
											<td class="text-end fw-bold text-danger">2,450,000 VND</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- Lương thực nhận -->
							<div>
								<h5 class="text-gray-700 fw-semibold mb-3">4. Lương thực nhận</h5>
								<div class="d-flex justify-content-between align-items-center px-3 py-4 bg-light rounded">
									<span class="fs-5 fw-semibold">Thực nhận:</span>
									<span class="fs-3 fw-bold text-success">
										<!-- 15tr + 800k + 500k + 2tr4 - 2tr45 = 16,250,000 -->
										16,250,000 VND
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::Content-->
	</div>
	<!--end::Content wrapper-->


</div>