@{
    Layout = "~/Views/Shared/_Layout_Portal.cshtml";
    ViewData["Title"] = "E - User";
}

<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">

        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar pt-5 ">

            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex align-items-stretch ">
                <!--begin::Toolbar wrapper-->
                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">

                    <!--begin::Page title-->
                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                        <!--begin::Title-->
                        <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bolder fs-1 lh-0">
                            Account Overview
                        </h1>
                        <!--end::Title-->
                    </div>
                    <!--end::Page title-->
                </div>
                <!--end::Toolbar wrapper-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">

            <!--begin::Content container-->
            <div id="kt_app_content_container" class="">

                <!--begin::Navbar-->
                <div class="card mb-5 mb-xl-10">
                    <div class="card-body pt-9 pb-0">
                        <!--begin::Details-->
                        <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                            <!--begin: Pic-->
                            <div class="me-7 mb-4">
                                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                                    <img class="user_avatar" alt="Avatar" src="" />
                                    <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px">
                                    </div>
                                </div>
                            </div>
                            <!--end::Pic-->
                            <!--begin::Info-->
                            <div class="flex-grow-1">
                                <!--begin::Title-->
                                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                                    <!--begin::User-->
                                    <div class="d-flex flex-column">
                                        <!--begin::Name-->
                                        <div class="d-flex align-items-center mb-2">
                                            <a href="#"
                                               class="user_fullname text-gray-900 text-hover-primary fs-2 fw-bold me-1">Họ tên</a>
                                            <a href="#">
                                                <i class="ki-duotone ki-verify fs-1 text-primary">
                                                    <span class="path1"></span><span class="path2"></span>
                                                </i>
                                            </a>

                                            <a href="#" class="btn btn-sm btn-light-success fw-bold ms-2 fs-8 py-1 px-3"
                                               data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
                                                Đang hoạt động
                                            </a>
                                        </div>
                                        <!--end::Name-->
                                        <!--begin::Info-->
                                        <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                                            <a href="#"
                                               class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                                <i class="ki-duotone ki-geolocation fs-4 me-1">
                                                    <span class="path1"></span><span class="path2"></span>
                                                </i>
                                                <span class="user_account">
                                                    NV000
                                                </span>
                                            </a>
                                            <a href="#"
                                               class="d-flex align-items-center text-gray-500 text-hover-primary mb-2">
                                                <i class="ki-duotone ki-sms fs-4 me-1">
                                                    <span class="path1"></span><span class="path2"></span>
                                                </i>
                                                <span class="user_email">
                                                    gmail
                                                </span>
                                            </a>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::User-->
                                </div>
                                <!--end::Title-->
                                <!--begin::Stats-->
                                <div class="d-flex flex-wrap flex-stack">
                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-column flex-grow-1 pe-8">
                                        <!--begin::Stats-->
                                        <div class="d-flex flex-wrap">
                                            <!--begin::Stat-->
                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                <!--begin::Number-->
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-arrow-up fs-2 text-success me-2">
                                                        <span class="path1"></span><span class="path2"></span>
                                                    </i>
                                                    <div class="fs-2 fw-bold counted" data-kt-countup="true"
                                                         data-kt-countup-value="4500" data-kt-countup-prefix="$"
                                                         data-kt-initialized="1">
                                                        $4,500
                                                    </div>
                                                </div>
                                                <!--end::Number-->
                                                <!--begin::Label-->
                                                <div class="fw-semibold fs-6 text-gray-500">Earnings</div>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Stat-->
                                            <!--begin::Stat-->
                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                <!--begin::Number-->
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-arrow-down fs-2 text-danger me-2">
                                                        <span class="path1"></span><span class="path2"></span>
                                                    </i>
                                                    <div class="fs-2 fw-bold counted" data-kt-countup="true"
                                                         data-kt-countup-value="75" data-kt-initialized="1">
                                                        75
                                                    </div>
                                                </div>
                                                <!--end::Number-->
                                                <!--begin::Label-->
                                                <div class="fw-semibold fs-6 text-gray-500">Projects</div>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Stat-->
                                            <!--begin::Stat-->
                                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                                <!--begin::Number-->
                                                <div class="d-flex align-items-center">
                                                    <div class="fs-2 fw-bold counted" data-kt-countup="true"
                                                         data-kt-countup-value="60" data-kt-countup-prefix="%"
                                                         data-kt-initialized="1">
                                                        %60
                                                    </div>
                                                </div>
                                                <!--end::Number-->
                                                <!--begin::Label-->
                                                <div class="fw-semibold fs-6 text-gray-500">Success Rate</div>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Stat-->
                                        </div>
                                        <!--end::Stats-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::Details-->
                        <!--begin::Navs-->
                        <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold"
                            id="myTab" role="tablist">
                            <!--begin::Nav item-->
                            <li class="nav-item mt-2" role="presentation">
                                <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#tabOverview"
                                   role="tab" aria-controls="tabOverview" aria-selected="true">
                                    Overview
                                </a>
                            </li>
                            <!--end::Nav item-->
                            <!--begin::Nav item-->
                            <li class="nav-item mt-2" role="presentation">
                                <a class="nav-link" id="settings-tab" data-bs-toggle="tab" href="#tabSetting" role="tab"
                                   aria-controls="tabSetting" aria-selected="false">
                                    Settings
                                </a>
                            </li>
                            <!--end::Nav item-->
                            <!--begin::Nav item-->
                            <li class="nav-item mt-2" role="presentation">
                                <a class="nav-link" id="security-tab" data-bs-toggle="tab" href="#tabSecurity"
                                   role="tab" aria-controls="tabSecurity" aria-selected="false">
                                    Security
                                </a>
                            </li>
                            <!--end::Nav item-->
                        </ul>
                        <!--end::Navs-->
                    </div>
                </div>
                <!--end::Navbar-->
                <!--begin::Tab content-->
                <div class="tab-content mt-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabOverview" role="tabpanel"
                         aria-labelledby="overview-tab">
                        <!--begin::details View-->
                        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                            <!--begin::Card header-->
                            <div class="card-header cursor-pointer">
                                <!--begin::Card title-->
                                <div class="card-title m-0">
                                    <h3 class="fw-bold m-0">Profile Details</h3>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body p-9">
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">Department</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <span class="fw-semibold text-gray-800 fs-6" id="user_department"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">
                                        Position
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold fs-6 text-gray-800" id="user_position"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">
                                        Title
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold fs-6 text-gray-800" id="user_title"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">
                                        User code
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold fs-6 text-gray-800" id="user_code"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Row-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">Full Name</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold fs-6 text-gray-800 user_fullname"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">Contact Phone</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 d-flex align-items-center">
                                        <span class="fw-bold fs-6 text-gray-800 me-2" id="user_phone"></span>
                                        <span class="badge badge-success">Verified</span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">Email</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 d-flex align-items-center">
                                        <span class="fw-bold fs-6 text-gray-800 me-2" id="user_email"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                               
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">BirthDate</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold fs-6 text-gray-800" id="user_birthdate"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">Gender</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold fs-6 text-gray-800" id="user_gender"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">Address</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <span class="fw-bold fs-6 text-gray-800" id="user_address"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::details View-->
                    </div>
                    <div class="tab-pane fade" id="tabSetting" role="tabpanel" aria-labelledby="settings-tab">
                        <!--begin::Settings-->
                        <div class="card mb-5 mb-xl-10">
                            <!--begin::Card header-->
                            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
                                 data-bs-target="#kt_account_profile_details" aria-expanded="true"
                                 aria-controls="kt_account_profile_details">
                                <!--begin::Card title-->
                                <div class="card-title m-0">
                                    <h3 class="fw-bold m-0">Profile Details</h3>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Content-->
                            <div id="kt_account_settings_profile_details" class="collapse show">
                                <!--begin::Form-->
                                <form id="kt_account_profile_details_form"
                                      class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                                    <!--begin::Card body-->
                                    <div class="card-body border-top p-9">
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">
                                                Avatar
                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8">
                                                <!--begin::Image input-->
                                                <div class="image-input image-input-outline" data-kt-image-input="true"
                                                     style="background-image: url()">
                                                    <!--begin::Preview existing avatar-->
                                                    <div class="image-input-wrapper w-125px h-125px"
                                                         style="background-image: url()"></div>
                                                    <!--end::Preview existing avatar-->
                                                    <!--begin::Label-->
                                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                           data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                                           aria-label="Change avatar" data-bs-original-title="Change avatar"
                                                           data-kt-initialized="1">
                                                        <i class="ki-duotone ki-pencil fs-7">
                                                            <span class="path1"></span><span class="path2"></span>
                                                        </i>
                                                        <!--begin::Inputs-->
                                                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                                        <input type="hidden" name="avatar_remove" />
                                                        <!--end::Inputs-->
                                                    </label>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Image input-->
                                                <!--begin::Hint-->
                                                <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                                                <!--end::Hint-->
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">Full Name</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                <input type="text" class="form-control form-control-lg form-control-solid"
                                                       placeholder="Full name" id="txt_user_fullname" />
                                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">Contact Phone</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                <input type="tel" class="form-control form-control-lg form-control-solid"
                                                       placeholder="Phone number" value="" id="txt_user_phone" />
                                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">Email Address</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                <input type="email" class="form-control form-control-lg form-control-solid"
                                                       placeholder="Email address" value="gmail.com" id="txt_user_email" />
                                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">BirthDate</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                <input type="date" class="form-control form-control-lg form-control-solid"
                                                       placeholder="Select birth date" id="txt_birth_date" />
                                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">Gender</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                                <div class="d-flex gap-4">
                                                    <div class="form-check form-check-custom form-check-solid">
                                                        <input class="form-check-input" type="radio" value="true" name="gender" id="gender_male" />
                                                        <label class="form-check-label" for="gender_male">
                                                            Nam
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-custom form-check-solid">
                                                        <input class="form-check-input" type="radio" value="false" name="gender" id="gender_female" />
                                                        <label class="form-check-label" for="gender_female">
                                                            Nữ
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">Tỉnh/ Thành phố</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row">
                                                <select id="txt_city" aria-label="Select a Province" data-control="select2"
                                                        data-placeholder="Chọn tỉnh/thành phố..." class="form-select form-select-solid form-select-lg">
                                                    <option value="">Chọn tỉnh/thành phố...</option>
                                                    <option value="01">Hà Nội</option>
                                                    <option value="79">TP. Hồ Chí Minh</option>
                                                    <option value="92">Cần Thơ</option>
                                                    <option value="02">Hà Giang</option>
                                                    <option value="04">Cao Bằng</option>
                                                    <option value="06">Bắc Kạn</option>
                                                    <option value="08">Tuyên Quang</option>
                                                    <option value="10">Lào Cai</option>
                                                    <option value="11">Điện Biên</option>
                                                    <option value="12">Lai Châu</option>
                                                    <option value="14">Sơn La</option>
                                                    <option value="15">Yên Bái</option>
                                                    <option value="17">Hoà Bình</option>
                                                    <option value="19">Thái Nguyên</option>
                                                    <option value="20">Lạng Sơn</option>
                                                    <option value="22">Quảng Ninh</option>
                                                    <option value="24">Bắc Giang</option>
                                                    <option value="25">Phú Thọ</option>
                                                    <option value="26">Vĩnh Phúc</option>
                                                    <option value="27">Bắc Ninh</option>
                                                    <option value="30">Hải Dương</option>
                                                    <option value="31">Hải Phòng</option>
                                                    <option value="33">Hưng Yên</option>
                                                    <option value="34">Thái Bình</option>
                                                    <option value="35">Hà Nam</option>
                                                    <option value="36">Nam Định</option>
                                                    <option value="37">Ninh Bình</option>
                                                    <option value="38">Thanh Hóa</option>
                                                    <option value="40">Nghệ An</option>
                                                    <option value="42">Hà Tĩnh</option>
                                                    <option value="44">Quảng Bình</option>
                                                    <option value="45">Quảng Trị</option>
                                                    <option value="46">Thừa Thiên Huế</option>
                                                    <option value="48">Đà Nẵng</option>
                                                    <option value="49">Quảng Nam</option>
                                                    <option value="51">Quảng Ngãi</option>
                                                    <option value="52">Bình Định</option>
                                                    <option value="54">Phú Yên</option>
                                                    <option value="56">Khánh Hòa</option>
                                                    <option value="58">Ninh Thuận</option>
                                                    <option value="60">Bình Thuận</option>
                                                    <option value="62">Kon Tum</option>
                                                    <option value="64">Gia Lai</option>
                                                    <option value="66">Đắk Lắk</option>
                                                    <option value="67">Đắk Nông</option>
                                                    <option value="68">Lâm Đồng</option>
                                                    <option value="70">Bình Phước</option>
                                                    <option value="72">Tây Ninh</option>
                                                    <option value="74">Bình Dương</option>
                                                    <option value="75">Đồng Nai</option>
                                                    <option value="77">Bà Rịa - Vũng Tàu</option>
                                                    <option value="80">Long An</option>
                                                    <option value="82">Tiền Giang</option>
                                                    <option value="83">Bến Tre</option>
                                                    <option value="84">Trà Vinh</option>
                                                    <option value="86">Vĩnh Long</option>
                                                    <option value="87">Đồng Tháp</option>
                                                    <option value="89">An Giang</option>
                                                    <option value="91">Kiên Giang</option>
                                                    <option value="93">Hậu Giang</option>
                                                    <option value="94">Sóc Trăng</option>
                                                    <option value="95">Bạc Liêu</option>
                                                    <option value="96">Cà Mau</option>
                                                </select>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="row mb-6">
                                            <!--begin::Label-->
                                            <label class="col-lg-4 fw-semibold text-muted">Xã/ Phường</label>
                                            <!--end::Label-->
                                            <!--begin::Col-->
                                            <div class="col-lg-8 fv-row">
                                                <select id="txt_address" aria-label="Select a Ward" data-control="select2"
                                                        data-placeholder="Chọn xã/phường..." class="form-select form-select-solid form-select-lg">
                                                    <option value="">Chọn xã/phường...</option>
                                                    <option value="010101">Phường Cống Vị</option>
                                                    <option value="010102">Phường Điện Biên</option>
                                                    <option value="010103">Phường Đội Cấn</option>
                                                    <option value="010104">Phường Giảng Võ</option>
                                                    <option value="010105">Phường Kim Mã</option>
                                                    <option value="010106">Phường Liễu Giai</option>
                                                    <option value="010107">Phường Ngọc Hà</option>
                                                    <option value="010108">Phường Ngọc Khánh</option>
                                                    <option value="010109">Phường Nguyễn Trung Trực</option>
                                                    <option value="010110">Phường Quán Thánh</option>
                                                    <option value="010111">Phường Thành Công</option>
                                                    <option value="010112">Phường Vĩnh Phúc</option>
                                                    <option value="010113">Phường Bưởi</option>
                                                    <option value="010114">Phường Nhật Tân</option>
                                                    <option value="010115">Phường Phú Thượng</option>
                                                    <option value="010116">Phường Quảng An</option>
                                                    <option value="010117">Phường Tây Hồ</option>
                                                    <option value="010118">Phường Thụy Khuê</option>
                                                    <option value="010119">Phường Xuân La</option>
                                                    <option value="010120">Phường Yên Phụ</option>
                                                    <option value="790101">Phường Bến Nghé</option>
                                                    <option value="790102">Phường Bến Thành</option>
                                                    <option value="790103">Phường Cầu Kho</option>
                                                    <option value="790104">Phường Cầu Ông Lãnh</option>
                                                    <option value="790105">Phường Cô Giang</option>
                                                    <option value="790106">Phường Đa Kao</option>
                                                    <option value="790107">Phường Nguyễn Cư Trinh</option>
                                                    <option value="790108">Phường Nguyễn Thái Bình</option>
                                                    <option value="790109">Phường Phạm Ngũ Lão</option>
                                                    <option value="790110">Phường Tân Định</option>
                                                    <option value="790111">Phường Phường 1</option>
                                                    <option value="790112">Phường Phường 2</option>
                                                    <option value="790113">Phường Phường 3</option>
                                                    <option value="790114">Phường Phường 4</option>
                                                    <option value="790115">Phường Phường 5</option>
                                                    <option value="790116">Phường Phường 6</option>
                                                    <option value="790117">Phường Phường 7</option>
                                                    <option value="790118">Phường Phường 8</option>
                                                    <option value="790119">Phường Phường 9</option>
                                                    <option value="790120">Phường Phường 10</option>
                                                </select>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Actions-->
                                        <div class="row mb-0">
                                            <!--begin::Col-->
                                            <div class="col-lg-8 offset-lg-4 d-flex">
                                                <!--begin::Button-->
                                                <button type="submit" class="btn btn-primary me-3">Save Changes</button>
                                                <!--end::Button-->
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Actions-->
                                    </div>
                                    <!--end::Card body-->
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Settings-->
                    </div>
                    <div class="tab-pane fade" id="tabSecurity" role="tabpanel" aria-labelledby="security-tab">
                        <!--begin::Security-->
                        <div class="card mb-5 mb-xl-10">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h3 class="fw-bold m-0">Security</h3>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body p-9">
                                <!--begin::Row-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">Login Password</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <button type="button" class="btn btn-light-primary fw-bold btn-sm">Change Password</button>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row mb-7">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 fw-semibold text-muted">History Login</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="symbol symbol-30px me-5">
                                                    <span class="symbol-label bg-light-success">
                                                        <i class="ki-duotone ki-tablet fs-4 text-success">
                                                            <span class="path1"></span><span class="path2"></span>
                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="fw-semibold text-gray-800 fs-6">Mobile Device</div>
                                                    <div class="text-muted fs-7">Today at 2:05 PM</div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="badge badge-light-success fs-8 fw-bold">Đang hoạt động</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="symbol symbol-30px me-5">
                                                    <span class="symbol-label bg-light-warning">
                                                        <i class="ki-duotone ki-laptop fs-4 text-warning">
                                                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="fw-semibold text-gray-800 fs-6">Desktop Computer</div>
                                                    <div class="text-muted fs-7">Yesterday at 4:30 AM</div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="badge badge-light-warning fs-8 fw-bold">Đăng xuất</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="symbol symbol-30px me-5">
                                                    <span class="symbol-label bg-light-warning">
                                                        <i class="ki-duotone ki-laptop fs-4 text-warning">
                                                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="fw-semibold text-gray-800 fs-6">Desktop Computer</div>
                                                    <div class="text-muted fs-7">Yesterday at 4:30 AM</div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="badge badge-light-warning fs-8 fw-bold">Đăng xuất</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="symbol symbol-30px me-5">
                                                    <span class="symbol-label bg-light-warning">
                                                        <i class="ki-duotone ki-laptop fs-4 text-warning">
                                                            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="fw-semibold text-gray-800 fs-6">Desktop Computer</div>
                                                    <div class="text-muted fs-7">Yesterday at 4:30 AM</div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="badge badge-light-warning fs-8 fw-bold">Đăng xuất</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Security-->
                    </div>
                </div>
                <!--end::Tab content-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
</div>

@section Scripts {
    <script src="~/root/user/userAccount.js"></script>
}