@{
	Layout = "~/Views/Shared/_Layout_Portal.cshtml";
	ViewData["Title"] = "E - Video";
}
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<!--begin::Content wrapper-->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Toolbar-->
		<div id="kt_app_toolbar" class="app-toolbar">
			<!--begin::Toolbar container-->
			<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack flex-wrap">
				<!--begin::Toolbar wrapper-->
				<div class="d-flex flex-stack flex-wrap gap-4 w-100">
					<!--begin::Page title-->
					<div class="page-title d-flex flex-column gap-3 me-3">
						<!--begin::Title-->
						<h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-2x my-0">Video</h1>
						<!--end::Title-->
					</div>
					<!--end::Page title-->
					<!--begin::Actions-->
					<div class="d-flex align-items-center gap-3 gap-lg-5">
						<!--begin::Secondary button-->
						<div class="m-0">
							<a href="#" class="btn btn-flex btn-sm btn-color-gray-700 bg-body fw-bold px-4" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">Tạo bài viết</a>
						</div>
						<!--end::Secondary button-->
					</div>
					<!--end::Actions-->
				</div>
				<!--end::Toolbar wrapper-->
			</div>
			<!--end::Toolbar container-->
		</div>
		<!--end::Toolbar-->
		<!--begin::Content-->
		<div id="kt_app_content" class="app-content pb-0">
			<!--begin::Team main-->
			<div class="d-flex flex-column flex-xl-row">
				<!--begin::Content-->
				<div class="card bg-transparent mb-9 mb-xl-0">
					<div class="card card-body bg-body pb-6 my-2">
						<!--begin::blog-->
						<div class="m-0">
							<!--begin::Title-->
							<div class="mb-9">
								<h3 class="fs-2qx fw-bold text-dark">
									Mạnh Bà Remix ♫ BXH Nhạc Trẻ EDM Hot Trend TRIỆU VIEW - Top 30 Bản EDM TikTok Hay Nhất 2025
								</h3>
							</div>
							<!--end::Title-->
							<!--begin::Wrapper-->
							<div class="overlay mb-11">
								<!--begin::Video-->
								<div class="card-rounded min-h-325px overflow-hidden position-relative">
									<iframe class="w-100" height="360"
											src="https://www.youtube.com/embed/2tdCrNRGa3g?si=VQS41vnFPyXHnV1E" title="YouTube video player"
											frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
								</div>
								<!--end::Video-->
							</div>
							<!--end::Wrapper-->
							<!--begin::Text-->
							<p class="fs-5 fw-semibold text-gray-600">
								Báo nhân dân
							</p>
							<!--end::Text-->
						</div>
						<!--end::blog-->
					</div>
					<div class="card card-body bg-body pb-6 my-2">
						<!--begin::blog-->
						<div class="m-0">
							<!--begin::Title-->
							<div class="mb-9">
								<h3 class="fs-2qx fw-bold text-dark">Em Muốn Tự Do [Lofi Ver] - Du Uyên</h3>
							</div>
							<!--end::Title-->
							<!--begin::Wrapper-->
							<div class="overlay mb-11">
								<!--begin::Video-->
								<div class="card-rounded min-h-325px overflow-hidden position-relative">
									<iframe class="w-100" height="360"
											src="https://www.youtube.com/embed/YgwcKmqtWvg?si=5Z8lG-CPLoJkB0Kx" title="YouTube video player"
											frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
											referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
									</iframe>
								</div>
								<!--end::Video-->
							</div>
							<!--end::Wrapper-->
							<!--begin::Text-->
							<p class="fs-5 fw-semibold text-gray-600">
								Nguồn: Youtube
							</p>
							<!--end::Text-->
						</div>
						<!--end::blog-->
					</div>
				</div>
				<!--end::Content-->
			</div>
			<!--end::Team main-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Content wrapper-->
</div>