@{
    Layout = "~/Views/Shared/_Layout_CMS.cshtml";
    ViewData["Title"] = "E - WorkSheet";
}

<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">

        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar  pt-5 ">

            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex align-items-stretch ">
                <!--begin::Toolbar wrapper-->
                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">

                    <!--begin::Page title-->
                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">

                            <!--begin::Item-->
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                <a href="/CMS" class="text-gray-500 text-hover-primary">
                                    <i class="ki-duotone ki-home fs-3 text-gray-500 me-n1"></i>
                                </a>
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                Thiết bị
                            </li>
                            <!--end::Item-->
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                Quản lý thiết bị
                            </li>
                            <!--end::Item-->
                        </ul>
                        <!--end::Breadcrumb-->
                        <!--begin::Title-->
                        <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bolder fs-1 lh-0">
                            Quản lý thiết bị
                        </h1>
                        <!--end::Title-->
                    </div>
                    <!--end::Page title-->
                    <div class="dropdown w-150px me-3">
                        <button id="dropdownExcelAction" class="btn btn-sm btn-light w-100 dropdown-toggle text-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Excel
                        </button>
                        <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item" onclick="sampleClick()" data-value="import">Sample File</a></li>
                            <li><a class="dropdown-item" onclick="importClick()" data-value="import">Import Excel</a></li>
                            <li><a class="dropdown-item" onclick="exportClick()" data-value="export">Export Excel</a></li>
                        </ul>
                        <input type="file" id="file_Import" accept=".xlsx" style="display: none;" onchange="onFileSelected(event)">
                    </div>
                </div>
                <!--end::Toolbar wrapper-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content  flex-column-fluid ">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-fluid ">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card header-->
                    <div class="card-header border-0 pt-6 pb-0">
                        <div class="row w-100 gx-3 gy-2 align-items-end">
                            <!-- Tìm kiếm -->
                            <div class="col-sm-6 col-md-5">
                                <label for="txt_Search" class="form-label fw-bold mb-1">Tìm kiếm</label>
                                <div class="position-relative">
                                    <i class="ki-duotone ki-magnifier fs-3 position-absolute top-50 translate-middle-y ms-3"></i>
                                    <input type="text" id="txt_Search" class="form-control form-control-sm ps-13 form-control-solid" placeholder="Nhập từ khóa...">
                                </div>
                            </div>

                            <div class="col-sm-3 col-md-2">
                                <label for="cbo_Type" class="form-label fw-bold mb-1">Phân loại</label>
                                <select id="cbo_Type" class="form-select form-select-sm form-select-solid">
                                    <option value="0">Tất cả</option>
                                </select>
                            </div>

                            <!-- Ca làm -->
                            <div class="col-sm-3 col-md-2">
                                <label for="cbo_Status" class="form-label fw-bold mb-1">Trạng thái</label>
                                <select id="cbo_Status"
                                        class="form-select form-select-sm form-select-solid"
                                        data-control="select2" data-allow-clear="true">
                                    <option value="0">Tất cả</option>
                                    <option value="1">Đang sử dụng</option>
                                    <option value="2">Chưa cấp phát</option>
                                    <option value="3">Không xác định</option>
                                    <option value="4">Hỏng</option>
                                </select>
                            </div>

                            <!-- Nút tìm kiếm -->
                            <div class="col-sm-3 col-md-1">
                                <label class="form-label fw-bold mb-1 invisible">Tìm kiếm</label>
                                <button type="button" id="btn_Search" onclick="searchClick()" class="btn btn-sm btn-primary w-100">
                                    <i class="ki-duotone ki-search fs-4 me-1"></i> Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body py-4">
                        <!--begin::Table-->
                        <div id="kt_table_users_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                            <div id="" class="table-responsive">
                                <table id="device_table" class="table table-sm table-hover align-middle table-row-dashed fs-8 gy-2 dataTable" style="width: 100%;">
                                    <thead>
                                        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0" role="row">
                                            <th class="w-10px pe-2 dt-orderable-none" data-dt-column="0" rowspan="1" colspan="1" aria-label="">
                                                <span class="dt-column-title">
                                                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                        <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_table_users .form-check-input" value="1">
                                                    </div>
                                                </span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                            <th>Phân loại</th>
                                            <th>Mã thiết bị</th>
                                            <th>Tên thiết bị</th>
                                            <th>Số lượng</th>
                                            <th>Thông tin thiết bị</th>
                                            <th>Tình trạng</th>
                                            <th>Người sử dụng</th>
                                            <th>Ghi chú</th>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-gray-600 fw-semibold">
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        <!--end::Table-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
</div>

<div id="kt_details" class="bg-body drawer drawer-end" data-kt-drawer="true"
     data-kt-drawer-name="activities" data-kt-drawer-activate="true"
     data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:'100%', 'lg': '100%'}"
     data-kt-drawer-direction="end"
     data-kt-drawer-toggle="#kt_activities_toggle"
     data-kt-drawer-close="#kt_activities_close">

    <div class="card shadow-none border-0 rounded-0 w-100">
        <!-- Header -->
        <div class="card-header d-flex justify-content-between align-items-center py-3">
            <h3 class="card-title">Danh sách thiết bị</h3>
            <button type="button" class="btn btn-icon btn-sm btn-light" id="kt_activities_close">
                <i class="bi bi-x fs-2"></i>
            </button>
        </div>

        <!-- Body -->
        <div class="card-body p-3">
            <div class="table-responsive" style="max-height: 80vh; overflow-y: auto;">
                <table id="detail_table" class="table table-bordered table-striped align-middle text-nowrap w-100">
                    <thead class="table-light text-center text-uppercase">
                        <tr>
                            <th style="width: 50px;">STT</th>
                            <th class="text-danger">Phân loại</th>
                            <th class="text-danger">Mã thiết bị</th>
                            <th class="text-danger">Tên thiết bị</th>
                            <th class="w-25">Cấu hình thiết bị</th>
                            <th class="text-danger">Tình trạng</th>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody id="deviceTableBody">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Footer -->
        <div class="card-footer text-end">
            <button class="btn btn-primary">Lưu thông tin</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/root/device/devicemanagement.js"></script>
}